	<!-- <div class="links">
		Choose an option <br>
		<button routerLink="/pvdp">--Price-Varied-DP% --</button>
		<br>
		<button routerLink="/pvdpD">--Price-Varied-DP$ --</button>
		<br>
		<button routerLink="/podp">--Price-OneProp-DP% --</button>
		<br>
		<button routerLink="/podpE">--Price-OneProp-ExactDP --</button>
		<br>
		<button routerLink="/programDP">--ProgramDP --</button>
		<br>
		<button routerLink="/cashTC">--Cash to Close --</button>
		<br>
		<button routerLink="/rateFeeCompPurchase">-RateFeeCompPurchase-</button>
	</div> -->

	
