<!-- <div class="links">
		Choose an option <br>
		<button (click)="changeRoute()" [ngClass]="{'chosen-scenario': 'Navbar.pvdp.activated'}" class="link" routerLink="/pvdp">--Price-Varied-DP% --</button>
		<br>
		<button (click)="changeRoute()" [ngClass]="{'chosen-scenario': pvdpD===true}" class="link" routerLink="/pvdpD">--Price-Varied-DP$ --</button>
		<br>
		<button (click)="changeRoute()" [ngClass]="{'chosen-scenario': podp===true}" class="link" routerLink="/podp">--Price-OneProp-DP% --</button>
		<br>
		<button (click)="changeRoute()" [ngClass]="{'chosen-scenario': podpE===true}" class="link" routerLink="/podpE">--Price-OneProp-ExactDP --</button>
		<br>
		<button (click)="changeRoute()" [ngClass]="{'chosen-scenario': programDP===true}" class="link" routerLink="/programDP">--ProgramDP --</button>
		<br>
		<button (click)="changeRoute()" [ngClass]="{'chosen-scenario': cashTC===true}" class="link" routerLink="/cashTC">--Cash to Close --</button>
		<br>
		<button (click)="changeRoute()" [ngClass]="{'chosen-scenario': rateFeeCompPurchase===true}" class="link" routerLink="/rateFeeCompPurchase">-RateFeeCompPurchase-</button>
	</div>
	<br> -->
	<div class="links" >
		<button *ngFor="let key of navbarKeys" class="link" [ngClass]="{'chosen-scenario': navbarObj[key].activated}"  [routerLink]="[navbarObj[key].route]">{{ navbarObj[key].label }}</button>
		<!-- <some-element [ngStyle]="{'font-style': 1}">...</some-element> -->
	</div>
