
.Dashboard-main {
	margin-top: 20px;
	.links {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: stretch;
	}

	.example-form {
		min-width: 150px;
		max-width: 500px;
		width: 100%;
	  }
	  
	  .example-full-width {
		width: 100%;
	  }
	  
	
	.chosen-scenario {
		background: rgb(218, 200, 253);
	}
	
	
	
	button {
		width: 200px;
		margin: 0 5px 0 5px;
	}
	
	.blue {
		color: blue;
	}
}


  