<div class="pvdp-main">
	<h3>Purchase Price Comparison</h3>
	<div class="ppc-top">
		<div class="ppc">
			<div class="ppc-row">
				<div class="display-pprices display-pprices-l">Purchase Price</div>
				<div class="display-pprices">${{purchasePriceOne}}</div>
				<div class="display-pprices">${{purchasePriceTwo}}</div>
				<div class="display-pprices">${{purchasePriceThree}}</div>
				<div class="display-pprices">${{purchasePriceFour}}</div>
			</div>
			<div class="ppc-row">
				<div class="display-pprices display-pprices-l">Down Payment</div>
				<div class="display-pprices">${{downPaymentOne}}</div>
				<div class="display-pprices">${{downPaymentTwo}}</div>
				<div class="display-pprices">${{downPaymentThree}}</div>
				<div class="display-pprices">${{downPaymentFour}}</div>
			</div>
			<div class="ppc-row">
				<div class="display-pprices display-pprices-l">Loan Amount</div>
				<div class="display-pprices">${{loanAmountOne}}</div>
				<div class="display-pprices">${{loanAmountTwo}}</div>
				<div class="display-pprices">${{loanAmountThree}}</div>
				<div class="display-pprices">${{loanAmountFour}}</div>
			</div>
		</div>
	</div>
	<br>
	<h4>Monthly Payments Shown Below</h4>
	<br>
	<div class="mp">
		<div class="ppc">
			<div class="ppc-row">
				<div class="display-pprices display-pprices-l">Principal and Interest</div>
				<div class="display-pprices">${{pAndIOne}}</div>
				<div class="display-pprices">${{pAndITwo}}</div>
				<div class="display-pprices">${{pAndIThree}}</div>
				<div class="display-pprices">${{pAndIFour}}</div>
			</div>
		</div>
		<div class="ppc">
			<div class="ppc-row">
				<div class="display-pprices display-pprices-l">Mortgage Insurance</div>
				<div class="display-pprices">${{mortgageInsuranceOne}}</div>
				<div class="display-pprices">${{mortgageInsuranceTwo}}</div>
				<div class="display-pprices">${{mortgageInsuranceThree}}</div>
				<div class="display-pprices">${{mortgageInsuranceFour}}</div>
			</div>
		</div>
		<div class="ppc">
			<div class="ppc-row">
				<div class="display-pprices display-pprices-l">Est Property Taxes</div>
				<div class="display-pprices">${{estimatedPTOne}}</div>
				<div class="display-pprices">${{estimatedPTTwo}}</div>
				<div class="display-pprices">${{estimatedPTThree}}</div>
				<div class="display-pprices">${{estimatedPTFour}}</div>
			</div>
		</div>
		<div class="ppc">
			<div class="ppc-row">
				<div class="display-pprices display-pprices-l">Est Home Insurance</div>
				<div class="display-pprices">${{estimatedHIOne}}</div>
				<div class="display-pprices">${{estimatedHITwo}}</div>
				<div class="display-pprices">${{estimatedHIThree}}</div>
				<div class="display-pprices">${{estimatedHIFour}}</div>
			</div>
		</div>
		<div class="ppc">
			<div class="ppc-row">
				<div class="display-pprices display-pprices-l">Est Total Payment</div>
				<div class="display-pprices">${{estimatedHIOne}}</div>
				<div class="display-pprices">${{estimatedHITwo}}</div>
				<div class="display-pprices">${{estimatedHIThree}}</div>
				<div class="display-pprices">${{estimatedHIFour}}</div>
			</div>
		</div>
	</div>
	<br>
	<h4>Loan Officer Input</h4>
	<br>
	<div class="loi">
		<p class="input-line">Down Payment (%)<input [(ngModel)]="downPaymentPercentage" type="number"></p>		
		<p class="input-line">Upfront MI/FF (%)<input [(ngModel)]="upfrontMiFf" type="number"></p>
		<p class="input-line">Annual MI Percentage (%)<input [(ngModel)]="miPercentage" type="number"></p>
		<p class="input-line">Estimated Taxes (%)<input [(ngModel)]="estimatedTaxes" type="number"></p>
		<p class="input-line">Interest Rate (%)<input [(ngModel)]="interestRate" type="number"></p>
		<p class="input-line">Length of Mortgage (Years)<input [(ngModel)]="mortgageYears" type="number"></p>
		<p class="input-line">Purchase Price #1<input [(ngModel)]="purchasePriceOne" type="number"></p>
		<p class="input-line">Purchase Price #2<input [(ngModel)]="purchasePriceTwo" type="number"></p>
		<p class="input-line">Purchase Price #3<input [(ngModel)]="purchasePriceThree" type="number"></p>
		<p class="input-line">Purchase Price #4<input [(ngModel)]="purchasePriceFour" type="number"></p>
	</div>
	<button (click)="update()">Recalculate</button>
</div>