<div class="pvdp-main">
	<div class="ppc">
	  <div class="ppc-row">	
		<div class="display-pprices display-pprices-l">Purchase Price</div>
		<div class="display-pprices">${{purchasePriceOne}}</div>		
		<div class="display-pprices">${{purchasePriceTwo}}</div>		
		<div class="display-pprices">${{purchasePriceThree}}</div>		
		<div class="display-pprices">${{purchasePriceFour}}</div>	
	  </div>
	</div>
	<div class="mp">

	</div>
	<div class="loi">
		<p class="input-line">Purchase Price #1<input [(ngModel)]="purchasePriceOne" type="number"></p>	
		
	</div>
</div>
