<h1>Class to Close Purchase</h1>
<div class="cash-to-close">
	<div class="left-column">
		<div class="left-column-child">
			<h3>Est Cash to Close</h3>
				<div class="l-r-parent">
					<div class="l-r-child">
						left
					</div>
					<div class="l-r-child">
						right
					</div>
				</div>
				<div class="l-r-parent">
					<div class="l-r-child">
						left
					</div>
					<div class="l-r-child">
						right
					</div>
				</div>
				<div class="l-r-parent">
					<div class="l-r-child">
						left
					</div>
					<div class="l-r-child">
						right
					</div>
				</div>
				<div class="l-r-parent">
					<div class="l-r-child">
						left
					</div>
					<div class="l-r-child">
						right
					</div>
				</div>
				<div class="l-r-parent">
					<div class="l-r-child">
						left
					</div>
					<div class="l-r-child">
						right
					</div>
				</div>
				<div class="l-r-parent">
					<div class="l-r-child">
						left
					</div>
					<div class="l-r-child">
						right
					</div>
				</div>
				<div class="l-r-parent">
					<div class="l-r-child">
						left
					</div>
					<div class="l-r-child">
						right
					</div>
				</div>
		</div>
		<div class="left-column-child">
			<h3>Closing Cost Breakdown (from above)</h3>
			<div class="l-r-parent">
				<div class="l-r-child">
						left
				</div>
				<div class="l-r-child">
						right
				</div>
			</div>
			<div class="l-r-parent">
				<div class="l-r-child">
						left
				</div>
				<div class="l-r-child">
						right
				</div>
			</div>
			<div class="l-r-parent">
				<div class="l-r-child">
						left
				</div>
				<div class="l-r-child">
						right
				</div>
			</div>
			<div class="l-r-parent">
				<div class="l-r-child">
						left
				</div>
				<div class="l-r-child">
						right
				</div>
			</div>
			<div class="l-r-parent">
				<div class="l-r-child">
						left
				</div>
				<div class="l-r-child">
						right
				</div>
			</div>
			<div class="l-r-parent">
				<div class="l-r-child">
						left
				</div>
				<div class="l-r-child">
						right
				</div>
			</div>
			<div class="l-r-parent">
				<div class="l-r-child">
						left
				</div>
				<div class="l-r-child">
						right
				</div>
			</div>
			<div class="l-r-parent">
				<div class="l-r-child">
						left
				</div>
				<div class="l-r-child">
						right
				</div>
			</div>
			<div class="l-r-parent">
				<div class="l-r-child">
						left
				</div>
				<div class="l-r-child">
						right
				</div>
			</div>
			<div class="l-r-parent">
				<div class="l-r-child">
						left
				</div>
				<div class="l-r-child">
						right
				</div>
			</div>
			<div class="l-r-parent">
				<div class="l-r-child">
						left
				</div>
				<div class="l-r-child">
						right
				</div>
			</div>
		</div>
	</div>
	<div class="right-column">
		<div class="right-column-child">
		<h3>Loan Officer Input</h3>
		<div class="l-r-parent">
			<div class="l-r-child">
						left
			</div>
			<div class="l-r-child">
						right
			</div>
		</div>
		<div class="l-r-parent">
			<div class="l-r-child">
						left
			</div>
			<div class="l-r-child">
						right
			</div>
		</div>
		<div class="l-r-parent">
			<div class="l-r-child">
						left
			</div>
			<div class="l-r-child">
						right
			</div>
		</div>
		<div class="l-r-parent">
			<div class="l-r-child">
						left
			</div>
			<div class="l-r-child">
						right
			</div>
		</div>
		<div class="l-r-parent">
			<div class="l-r-child">
						left
			</div>
			<div class="l-r-child">
						right
			</div>
		</div>
		<div class="l-r-parent">
			<div class="l-r-child">
						left
			</div>
			<div class="l-r-child">
						right
			</div>
		</div>
		<div class="l-r-parent">
			<div class="l-r-child">
						left
			</div>
			<div class="l-r-child">
						right
			</div>
		</div>
		<div class="l-r-parent">
			<div class="l-r-child">
						left
			</div>
			<div class="l-r-child">
						right
			</div>
		</div>
		<div class="l-r-parent">
			<div class="l-r-child">
						left
			</div>
			<div class="l-r-child">
						right
			</div>
		</div>
		<div class="l-r-parent">
			<div class="l-r-child">
						left
			</div>
			<div class="l-r-child">
						right
			</div>
		</div>
		<div class="l-r-parent">
			<div class="l-r-child">
						left
			</div>
			<div class="l-r-child">
						right
			</div>
		</div>
		<div class="l-r-parent">
			<div class="l-r-child">
						left
			</div>
			<div class="l-r-child">
						right
			</div>
		</div>
		<div class="l-r-parent">
			<div class="l-r-child">
						left
			</div>
			<div class="l-r-child">
						right
			</div>
		</div>
	</div>
</div>